<html>
<head>
</head>
<body>
    <img src="http://localhost:3000/img" alt="yughb" id = "img">
    
    <div>
    <h3>The Following data is successfuly posted</h3>
    <h4 id="title"></h4>
    <h5 id="bd"></h5>
    <button id = "submit">Click</button>
    </div>
</body>
<script>


    var xhr = new XMLHttpRequest();
    var data = {
        email: "test@gmail.com",
    };
    xhr.open('POST', 'http://localhost:3000/isOpened');
    xhr.onload = function(data) {
        console.log('loaded', this.responseText);
    };
    xhr.setRequestHeader('Content-Type', 'application/json');
    xhr.send(JSON.stringify(data));
    
</script>
</html>